; ============================================================================
;  Game.ini - SDILENY pro vsechny mapy clusteru
;
;  TENHLE SOUBOR SE GENERUJE. Needituj ho v instanci - supervisor ho pri
;  kazdem startu prepise z teto sablony a pak nastavi chmod 444.
;  Menit se ma TAHLE sablona v gitu, aby zmeny mely historii.
; ============================================================================
[/Script/ShooterGame.ShooterGameMode]

; --- Nasobky eventu (generovane z presets.json) ---------------------------
; Sest ze sesti nasobku breedingu MUSI byt tady - v tabulce Game.ini na
; oficialni wiki neni sloupec CMD vubec, takze pres ? parametr se nastavit
; nedaji a tise by se zahodily. Na prikazovou radku patri jen XPMultiplier,
; TamingSpeedMultiplier a HarvestAmountMultiplier.
{{RATES}}

; --- Stackovani ------------------------------------------------------------
; ItemStackSizeMultiplier v GameUserSettings.ini funguje na vetsinu veci,
; ale kazici se maso ho IGNORUJE - proto se prime meat a mutton resi zvlast.
; bIgnoreMultiplier=True znamena, ze se globalni nasobek neuplatni a
; MaxItemQuantity plati absolutne (jinak by se hodnota vynasobila podruhe).
;
; POZOR: u muttonu je hlaseno, ze override v nekterych verzich nefunguje.
; Po nasazeni OVER VE HRE, ne jen v souboru.
ConfigOverrideItemMaxQuantity=(ItemClassString="PrimalItemConsumable_RawPrimeMeat_C",Quantity=(MaxItemQuantity=500,bIgnoreMultiplier=True))
ConfigOverrideItemMaxQuantity=(ItemClassString="PrimalItemConsumable_RawMutton_C",Quantity=(MaxItemQuantity=500,bIgnoreMultiplier=True))
ConfigOverrideItemMaxQuantity=(ItemClassString="PrimalItemConsumable_RawPrimeMeat_Fish_C",Quantity=(MaxItemQuantity=500,bIgnoreMultiplier=True))

; --- Nahrazeni ledovych wyvern --------------------------------------------
; Syntaxe podle oficialni wiki:
;   NPCReplacements=(FromClassName="<classname>", ToClassName="<classname>")
; Prazdny ToClassName spawn UPLNE ZRUSI, jmeno jine tridy ho NAHRADI.
;
; Nahrazeni normalni wyvernou je lepsi nez zruseni: hnizdni mista zustanou
; obsazena a nevznikne prazdne misto na mape. Ragnarok_Wyvern_Override_C je
; ragnarocka ohniva wyverna; alternativy jsou Wyvern_Character_BP_Poison_C
; a Wyvern_Character_BP_Lightning_C.
;
; !!! POZOR, TENHLE SOUBOR JE SDILENY VSEMI MAPAMI !!!
; Valguero pouziva STEJNOU tridu Ragnarok_Wyvern_Override_Ice_C. Odkomentovani
; nize proto vypne ledove wyverny i na Valgueru, ne jen na Ragnaroku.
; Drive tu stalo, ze trida existuje jen na Ragnaroku - to bylo OVERENE SPATNE.
; Pokud chces zasahnout jen jednu mapu, musi ta mapa dostat vlastni config
; adresar; sdilenym Game.ini to udelat nejde.
;
; Zmena se projevi az na nove spawny, takze po ni musi probehnout
; DestroyWildDinos - to mapfixes.json dela pri kazdem restartu automaticky.
;NPCReplacements=(FromClassName="Ragnarok_Wyvern_Override_Ice_C",ToClassName="Ragnarok_Wyvern_Override_C")
